[include ebb-sb-canbus-v1.0.cfg]
[include klipperExpander.cfg]
[include klipper-mini12864.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include eddy-ng.cfg]
[include led-effects.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_15002D000350415339373620-if00

[exclude_object]
# Enables exclude object

[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 5.0

[static_digital_output usb_pullup_enable]
pins: !PC13

#####################################################################
#   X Stepper Settings
#####################################################################

######
# Motor -XM
# ENDSTOP IS SET IN THE EBB-SB-CANBUS CONFIG
###############

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
homing_speed: 70

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.5
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Y Stepper Settings
#####################################################################

######
# Motor -YM
# Endstop - Y-STOP
###############
[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: ^PC1 
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 70

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.5
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

######
# Motor -ZAM
# Endstop - Z-STOP
###############
[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 250
homing_speed: 20
position_min: -7.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

######
# BED Connector
###############
[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130
control = pid
pid_kp = 71.173
pid_ki = 1.811
pid_kd = 699.276


#####################################################################
#   Fan Control
#####################################################################

######
# Chassis Fan
###############
[controller_fan chassis_fan]
pin: PC7 
max_power: 1.00
kick_start_time: 0.200
heater: heater_bed

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 17
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 17
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUFBCW2UYCPc/AZyfGlPm+z8RDK6pd8XnP0IiUsiTiNQ/obOx6ytovT9cLooQgtPTP0sTlK0iE9I/QHSiUOoVr79EigylQbaFv4AyUhodibg/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQjfqkuFqxlD52evDFWTOVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQFdwK+gpgGkCooCncB4kIQKHc3vb0H/s/21Tfy2FT/T8m7HntitznP6+N3NOHswLA6gE1Gky3tT+0eTi5Vi8QQPEbZkRnqeg/M/SpGcHv87+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEGjg0w9vL5U+shUTOB1KlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BdNewKLhOVPnFZNim6lio+N6AneZwdHr6E02fwRNX/PS14YxDrRMC9IH15viznBD4KNKOGecD7vY/IlSLoq/69asPGKvFT8z1uloVUw6zPPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQgF72jjAWxT/0b/Zgv+wTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/xRYwjvZegEdALf8MOIUNdGWMB2ZfcmFuZ2WUXZQoR0FIDKXHqgAAR0FIvi/Py0AAZYwCZGOUSxB1Lg==
#*# calibration_17 = gASV6gIAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUPtpnm1wpPM/Q6cSUWVl+z8W5Oqc2U/oPxq6Jn47dtk/E7utKx2Ezz+3R6ER9IjJPxmORpKyWrw/SH3nitMYsj8kCpJBVPfBPx1Rxf7/fbk/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQTaANs2+1lD59rV/t21KVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUTowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BXkMWmPy+VPgawIkYEbS4+PG+JOSTSIr50SGObVB8NPskmhwTn8dy9TpG4bxRQ6j36Cmexlcn+vaY2uy6q3e09X1bUx9Jm8D3fiDug1rLtvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQrQqdtKlffj+0kgDCWu8TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/fl+ptJ0KrUdAFAQoNutsNGWMB2ZfcmFuZ2WUXZQoR0FIAmEJSkAAR0FIuU9ECDgAZYwCZGOUSxF1Lg==
